doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(type='text/javascript', src='javascripts/underscore.js')
    script(type='text/javascript', src='javascripts/backbone.js')
    script(type='text/javascript', src='javascripts/three.js')
    script(type='text/javascript', src='javascripts/trackball_controls.js')
    script(type='text/javascript', src='javascripts/dat-gui.js')
    script(type='text/javascript', src='javascripts/Please.js')
    script(type='text/javascript', src='javascripts/tweenjs.js')


    script(type='text/javascript', src='javascripts/SingleLine.js')
    script(type='text/javascript', src='javascripts/RandomShapes.js')
    script(type='text/javascript', src='javascripts/Tiler.js')


  body
    block content
